@model List<TrainMeNowMVC.Models.TrainingViewModel>
@{
    ViewBag.Title = "BrowseByLanguage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trainings filtered by language</h2>
<table class="table table-hover">
    <tr>
        <th width="25%">Name</th>
        <th width="25%">Price </th>
        <th width="25%">Max Users</th>
        <th width="25%">Enrolled Users</th>
        <th width="25%">Language</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.MaxUsers</td>
            <td>@item.EnrolledUsers</td>
            <td>@item.Language</td>
        </tr>
    }
</table>
