@model TrainMeNowMVC.Models.TrainingViewModel
@{
    ViewBag.Title = "CreateTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTraining</h2>

@using (Html.BeginForm("CreateTrainingData", "Trainings", FormMethod.Get))
{
    <label>Name:</label>
    @Html.TextBoxFor(m => m.Name)
    <br></br>
    <label>Price: </label>
    @Html.TextBoxFor(m => m.Price)
    <br></br>
    <label>MaxUsers:</label>
    @Html.TextBoxFor(m => m.MaxUsers)
    <br></br>
    <label>Language:</label>
    @Html.TextBoxFor(m => m.Language)
    <br></br>
    <label>Description:</label>
    @Html.TextBoxFor(m => m.Description)

    <button class="btn btn-success" type="submit">Submit</button>
}

