@model TrainMeNowMVC.Models.TrainingViewModel
@{
    ViewBag.Title = "CreateTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTraining</h2>

@using (Html.BeginForm("CreateTrainingData", "Trainings", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                <label> Name:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>Price:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>MaxUsers:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.MaxUsers, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>Language:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Language, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label>Description:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <button class="btn btn-success" type="submit">Submit</button>
}

