@model List<TrainMeNowMVC.Models.TrainingViewModel>
@{
    ViewBag.Title = "TrainingsListByTrainerId";
}

<h2>Trainings List</h2>
@foreach (var training in Model)
{
    <div class="well">
        <h2>Id: @training.Id</h2>
        <h2>Name: @training.Name</h2>
        <h3>Trainer Id: @training.TrainerId</h3>
        <h2>Price: @training.Price</h2>
        <h3>Price: @training.MaxUsers</h3>
    </div>
}

