@model IEnumerable<TrainMeNowMVC.Models.TrainingViewModel>
@{
    ViewBag.Title = "TrainingsListByTrainerId";
}

<h2>Trainings List:</h2>
<p>
    @Html.ActionLink("Create New", "CreateTraining")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxUsers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledUsers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRationgs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolledUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRationgs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit Trainings", "EditTraining", new { controller = "Trainings", id = item.Id }, new { @class = "btn btn-info" })
            </td>
            @if ((int)Session["RoleId"] == 1 || (int)Session["RoleId"] == 2)
            {
                <td>
                    @Html.ActionLink("View Enrolled Users", "ListTrainees", new { controller = "Trainer", id = item.Id }, new { @class = "btn btn-info" })
                </td>
            }
        </tr>
        }

    </table>