@model List<TrainMeNowMVC.Models.TrainingViewModel>
@{
    ViewBag.Title = "TrainingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training List</h2>
<table class="table table-hover">
    <tr>
        <th width="25%">Id</th>
        <th width="25%">Name  </th>
        <th width="25%">Trainer Name  </th>
        <th width="25%">Price   </th>
        <th width="25%">Max Users   </th>
    </tr>
    @foreach (var trainer in Model)
    {
        <tr>
            <td>@trainer.Id</td>
            <td>@trainer.Name</td>
            <td>@trainer.TrainerName</td>
            <td>@trainer.Price</td>
            <td>@trainer.MaxUsers</td>
            <td>
                @Html.ActionLink("View Enrolled Users", "ListTrainees", new { controller = "Trainer", id = trainer.Id }, new { @class = "btn btn-info" })
            </td>
            
        </tr>
    }
</table>


    @*@foreach (var training in Model)
    {
        <div class="table">
            Id: @training.Id
            Name: @training.Name
            Trainer Id: @training.TrainerId
            Price: @training.Price
            Max Users: @training.MaxUsers
        </div>
    }*@






