
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (@Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ActionLink("Edit Account Info", "EditAccount", "Account");
    <br />

    if ((int)Session["RoleId"] == 1)
    {
        @Html.ActionLink("Manage Trainers", "EditAccount", "Admin");
        <br />
        @Html.ActionLink("View Trainers", "TrainerList", "Admin");
    }
    else if ((int)Session["RoleId"] == 2)
    {
        @Html.ActionLink("Create Training", "CEVA", "Trainer");
    }
    else if ((int)Session["RoleId"] == 3)
    {
        @Html.ActionLink("View My Trainings", "CEVA", "User");
    }


}