
@{
    switch ((int)Session["RoleId"])
    {
        case 1:
            ViewBag.Title = "Admin";
            break;
        case 2:
            ViewBag.Title = "Trainer";
            break;
        case 3:
            ViewBag.Title = "User";
            break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (@Html.BeginForm("Index", "Account", FormMethod.Get))
{
    @Html.ActionLink("Edit Account Info", "EditAccount", "Account");
    <br />
    @Html.ActionLink("View Enroled Trainings", "EnrolledTrainings", "Trainings");
    <br />

    if ((int)Session["RoleId"] == 1)
    {
        @Html.ActionLink("Manage Trainers", "EditAccount", "Admin");
        <br />
        @Html.ActionLink("View Trainers", "TrainerList", "Admin");
        <br /><br />
        @Html.ActionLink("View Trainings", "TrainingList", "Admin");
    }
    else if ((int)Session["RoleId"] == 2)
    {
        @Html.ActionLink("Create Training", "CEVA", "Trainings");

        @Html.ActionLink("View Trainings", "TrainingsListByTrainerId", "Trainings");
    }
    else if ((int)Session["RoleId"] == 3)
    {

    }


}