@model TrainMeNowMVC.Models.UserViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (@Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <label> Username:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label> First Name:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label> Last Name:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label> Email:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label> Password:</label>
            </td>
            <td>
                @Html.TextBoxFor(m => m.Password, new { @type = "password" , @class = "form-control" })
            </td>
        </tr>
    </table>
    
    <button type="submit" class="btn btn-success">Submit</button>
}